                           @media(max-width:1425px) {
                             .hero-contant {
                               padding: 136.84px 20px 106px 115.28px;
                             }
                             .menu {
                               margin-right: 20px;
                             }
                           }
                           
                           @media(max-width:1170px) {
                             .social {
                               &__content {
                                 max-width: 407px;
                               }
                               &__icons {
                                 svg {
                                   width: 64px;
                                   height: 64px;
                                 }
                               }
                               a {
                                 margin-right: 20px;
                               }
                             }
                           }
                           
                           @media(max-width:1024px) {
                             .hero-contant {
                               &__info {
                                 svg {
                                   width: 115.28px;
                                   height: 41.17px;
                                 }
                               }
                               &__info-title {
                                 margin: 54px 0 73px;
                                 font-size: 36px;
                               }
                               &__info-text {
                                 font-size: 14px;
                                 line-height: 16.44px;
                                 margin-bottom: 31.32px;
                                 max-width: 183.1px;
                               }
                               &__info-btn {
                                 padding: 0.5em 3em;
                               }
                             }
                             .form {
                               &__title {
                                 font-size: 18px;
                               }
                             }
                             .social {
                               &__content-title {
                                 font-size: 18px;
                                 margin-bottom: 30px;
                               }
                               &__content-text {
                                 font-size: 14px;
                               }
                             }
                             .tabs {
                               padding: 50px 16px 50px;
                               &__list-item {
                                 padding: 10px 66.07px;
                               }
                               &__inner {
                                 gap: 25.89px;
                               }
                               &__item {
                                 padding: 35px 0 50px 85px;
                                 display: none;
                                 &.tabs__item--active {
                                   display: block;
                                 }
                               }
                               &__item-title {
                                 font-size: 24px;
                                 margin-bottom: 65px;
                               }
                               &__item-text {
                                 font-size: 14px;
                                 margin-bottom: 38px;
                               }
                               &__item-btn {
                                 margin-top: 0;
                               }
                             }
                             .awesome {
                               padding: 45px 16px 68px;
                               &__subtitle {
                                 margin-bottom: 65px;
                               }
                               &__item {
                                 svg {
                                   margin-bottom: 65px;
                                   width: 79.55px;
                                   height: 79.55px;
                                 }
                               }
                               &__item-title {
                                 font-size: 18px;
                               }
                               &__item-text {
                                 font-size: 14px;
                               }
                             }
                             .pricing {
                               padding: 94px 16px 50px;
                               &__subtitle {
                                 margin-bottom: 49.74px;
                               }
                               &__inner {
                                 gap: 20px;
                               }
                             }
                             .contact {
                               padding: 95px 16px 50px;
                               &__subtitle {
                                 margin-bottom: 72px;
                               }
                               .form {
                                 &__inner {
                                   gap: 20px;
                                 }
                               }
                             }
                           }
                           
                           @media(max-width:1005px) {
                             .social {
                               &__inner {
                                 display: flex;
                                 flex-direction: column;
                                 align-items: center;
                                 text-align: center;
                               }
                               &__content-text {
                                 margin-bottom: 32px;
                               }
                             }
                           }
                           
                           @media(max-width:980px) {
                             .header {
                               &__logo {
                                 margin-left: 20px;
                               }
                             }
                             .hero-contant {
                               padding: 136.84px 20px 106px 20px;
                             }
                             .form {
                               &__title {
                                 font-size: 14px;
                               }
                               &__input-inner {
                                 padding: 0 20px;
                               }
                             }
                           }
                           
                           @media(max-width:880px) {
                             .header {
                               &__logo {
                                 padding: 16.77px 0;
                                 svg {
                                   width: 64.81px;
                                   height: 22.92px;
                                 }
                               }
                             }
                             .menu {
                               margin-right: 35px;
                               &__list {
                                 background-color: $def;
                                 position: absolute;
                                 left: 0;
                                 top: 57px;
                                 width: 100%;
                                 flex-direction: column;
                                 align-items: center;
                                 transform: translateY(-400px);
                                 transition: all .6s;
                                 z-index: 1;
                                 &.menu__list--active {
                                   transform: translateY(0);
                                   transition: all .6s;
                                   height: 100vh;
                                 }
                               }
                               &__list-item {
                                 width: 100%;
                                 height: 67px;
                               }
                               &__btn {
                                 display: block;
                                 cursor: pointer;
                                 position: relative;
                               }
                               &__btn--active {
                                 path {
                                   transition: transform .3s;
                                 }
                                 .path-1 {
                                   transform: rotate(45deg);
                                   transform-origin: -1px 3px;
                                 }
                                 .path-2 {
                                   display: none;
                                 }
                                 .path-3 {
                                   transform: rotate(-45deg);
                                   transform-origin: 0px 13px;
                                 }
                               }
                             }
                             .hero-contant {
                               padding: 84.12px 16px 50px;
                               &__info {
                                 flex-basis: 100%;
                                 margin: 0;
                               }
                               &__info-title {
                                 margin-top: 0;
                               }
                               &__inner {
                                 flex-direction: column;
                                 align-items: center;
                                 text-align: center;
                                 gap: 56px;
                                 svg {
                                   display: none;
                                 }
                               }
                               &__info-title {
                                 margin-bottom: 43.88px;
                               }
                               &__info-divider {
                                 width: 134px;
                                 margin: 0 auto;
                               }
                               &__info-text {
                                 max-width: 100%;
                                 margin-bottom: 42px;
                               }
                               &__info-btn {
                                 margin: 0 auto;
                                 padding: 1em 5em;
                               }
                             }
                             .form {
                               &__title {
                                 margin-bottom: 0;
                               }
                               &__input-inner {
                                 text-align: start;
                               }
                             }
                             .tabs {
                               &__item-images {
                                 display: none;
                               }
                             }
                             .contact {
                               padding: 45px 16px 40px;
                               .form {
                                 &__inner {
                                   flex-direction: column;
                                   margin-bottom: 50px;
                                 }
                                 &__input-inner {
                                   max-width: 100%;
                                 }
                                 &__message {
                                   flex-basis: 0;
                                 }
                               }
                             }
                           }
                           
                           @media(max-width:605px) {
                             .social {
                               padding: 35px 13px 40px;
                               &__content-title {
                                 margin-bottom: 13px;
                               }
                               &__icons {
                                 svg {
                                   width: 26px;
                                   height: 26px;
                                 }
                                 a {
                                   margin-right: 14px;
                                 }
                               }
                             }
                             .tabs {
                               padding: 50px 16px 0;
                               &__item {
                                 padding: 35px 20.57px 29px 24.69px;
                                 text-align: center;
                               }
                               &__list-item {
                                 padding: 10px 32.43px;
                               }
                               &__item-title {
                                 font-size: 18px;
                               }
                               &__item-text {
                                 font-size: 13px;
                                 margin-bottom: 29px;
                                 br {
                                   display: none;
                                 }
                               }
                               &__item-btn {
                                 max-width: 242.4px;
                                 height: 50px;
                               }
                             }
                             .awesome {
                               padding: 48px 16px 60px;
                               &__inner {
                                 flex-direction: column;
                                 gap: 43.72px;
                               }
                               &__item {
                                 max-width: 100%;
                                 svg {
                                   margin-bottom: 75px;
                                   margin-bottom: 45px;
                                 }
                               }
                             }
                             .pricing {
                               background-color: #F5F5F5;
                               padding: 45px 16px 26px;
                               &__subtitle {
                                 margin-bottom: 24px;
                               }
                               &__inner {
                                 flex-direction: column;
                               }
                             }
                             .pricing-cart {
                               width: 100%;
                               margin-bottom: 27px;
                             }
                           }
                           
                           @media(max-width:400px) {
                             .pricing-cart {
                               &__title {
                                 font-size: 16px;
                                 padding: 15px 5px;
                               }
                               &__price {
                                 font-size: 24px;
                                 padding: 20px 5px;
                               }
                               &__subtitle {
                                 font-size: 14px;
                                 padding: 10px 5px;
                               }
                               &__list-item {
                                 padding: 10px 5px;
                                 font-size: 14px;
                               }
                               &:hover {
                                 transform: translateY(0);
                               }
                             }
                             .download {
                               padding: 43px 16px 58px;
                               &__subtitle {
                                 margin-bottom: 50px;
                               }
                               &__btn {
                                 padding: 1em 5em;
                               }
                             }
                           }