%OpenSans-700 {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}

%OpenSans-600 {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
}

%OpenSans-400 {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%Raleway-400 {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 400;
}

%Raleway-500 {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 500;
}

$title:#fff;
$def:#000;
$text:#86878B;
$bg:#EC7979;
$hover:#AB4949;
%btn {
  display: block;
  background-color: transparent;
  border: 2px solid $title;
  padding: 1em 5em;
  color: $title;
  @extend%OpenSans-600;
  text-align: center;
  &:hover {
    border: 2px solid $bg;
    color: $bg;
    cursor: pointer;
  }
  &:active {
    background-color: $hover;
    color: $title;
  }
}

%btn2 {
  margin-top: 36px;
  width: 100%;
  background-color: $bg;
  color: $title;
  border: none;
  height: 60px;
  @extend%OpenSans-600;
  font-size: 15px;
  cursor: pointer;
  padding: 0;
  &:hover {
    background-color: $hover;
  }
  &:active {
    background-color: $bg;
  }
}